.index__header {
  @media (min-width: $desktop-width) {
    min-height: 696px;
    margin-bottom: -527px;
    padding-bottom: 0;
    position: relative;
    z-index: 10;
    background-image: url("../img/index/bg-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right top;
  }

  @media (min-resolution: 1.5dppx) and (min-width: $desktop-width) {
    background-image: url("../img/index/bg-desktop@2x.jpg");
    background-size: contain;
  }
}

.index__sentence {
  padding-top: 27px;

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 15;
  }
}

.index__goals {
  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.index__work-stages {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    border: none;
  }
}

.index__example {
  background-color: #eaeaea;
  padding: 27px 20px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 27px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 110px 23px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background: linear-gradient(to bottom, #ffffff 183px, #e5e5e5 183px);
  }
}
