.button {
  padding: 1px 0 0 0;
  border: none;
  cursor: pointer;
  background-color: $basic_green;
  width: 280px;
  height: 39px;
  line-height: 40px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  color: rgba(#ffffff, 0.9);
  outline: none;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

  & span {
    display: inline-block;
    margin: 0 auto;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active span {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.button--grey {
  background: $basic_grey;
  color: $special_dark-grey;

  &:hover {
    background: $special_grey-2;
  }
}
